* {
    box-sizing: border-box;
}

body {
    padding: 50px;
}

.clue.active {
    background-color: #ffc30e;
}

.box-input.highlight {
    background: #5ef5f2;
}

.box-input:focus {
    background: #ffc30e;
}

